In [ ]:
''''''removing null values, train test split,encoders,binning,visualization-matlab,EDA-seaborn''''''

In [1]:
import pandas as pd
import numpy as np
train=pd.read_csv('hp_train.csv')

In [3]:
import os
os.getcwd()

'C:\\Users\\peddi'

In [4]:
train.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

#if column has more than 60% null values drop columns

# method for filling null values
#smote
#oversampling & undersampling

In [5]:
cat=train.select_dtypes(include=[object])
num=train.select_dtypes(include=[np.number])

In [6]:
cat.isnull().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64

In [7]:
num.isnull().sum()

Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SalePrice          0
dtype: int64

In [8]:
cat.drop(['Alley','PoolQC','Fence','MiscFeature'],axis=1,inplace=True)

C:\Users\peddi\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

#Replacing null values
categorical

In [10]:
cat.BsmtCond.value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [11]:
cat.BsmtCond.value_counts().idxmax()

'TA'

In [12]:
#replacing null values with the most ocuring categorical type
cat.BsmtCond.fillna(cat.BsmtCond.value_counts().idxmax(),inplace=True)

C:\Users\peddi\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [13]:
cat.BsmtCond.fillna(cat.BsmtCond.value_counts().idxmax(),inplace=True)
cat.BsmtQual.fillna(cat.BsmtQual.value_counts().idxmax(),inplace=True)
cat.BsmtExposure.fillna(cat.BsmtExposure.value_counts().idxmax(),inplace=True)
cat.BsmtFinType1.fillna(cat.BsmtFinType1.value_counts().idxmax(),inplace=True)
cat.BsmtFinType2.fillna(cat.BsmtFinType2.value_counts().idxmax(),inplace=True)
cat.FireplaceQu.fillna(cat.FireplaceQu.value_counts().idxmax(),inplace=True)
cat.GarageCond.fillna(cat.GarageCond.value_counts().idxmax(),inplace=True)
cat.GarageFinish.fillna(cat.GarageFinish.value_counts().idxmax(),inplace=True)
cat.GarageQual.fillna(cat.GarageQual.value_counts().idxmax(),inplace=True)
cat.GarageType.fillna(cat.GarageType.value_counts().idxmax(),inplace=True)
cat.Electrical.fillna(cat.Electrical.value_counts().idxmax(),inplace=True)
cat.MasVnrType.fillna(cat.MasVnrType.value_counts().idxmax(),inplace=True)

In [14]:
import sklearn

#Numerical

In [15]:
num.LotFrontage.fillna(num.LotFrontage.mean(),inplace=True)
num.GarageYrBlt.fillna(num.GarageYrBlt.mean(),inplace=True)
num.MasVnrArea.fillna(num.MasVnrArea.mean(),inplace=True)

C:\Users\peddi\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le=LabelEncoder()

In [18]:
#cahnging the data from categorical to numerical
cat1=cat.apply(le.fit_transform)

In [19]:
train1=pd.concat([cat1,num],axis=1)
train1.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,3,1,3,3,0,4,0,5,2,2,...,0,61,0,0,0,0,0,2,2008,208500
1,3,1,3,3,0,2,0,24,1,2,...,298,0,0,0,0,0,0,5,2007,181500
2,3,1,0,3,0,4,0,5,2,2,...,0,42,0,0,0,0,0,9,2008,223500
3,3,1,0,3,0,0,0,6,2,2,...,0,35,272,0,0,0,0,2,2006,140000
4,3,1,0,3,0,2,0,15,2,2,...,192,84,0,0,0,0,0,12,2008,250000

In [20]:
train1.BsmtCond.value_counts()

3    1348
1      65
0      45
2       2
Name: BsmtCond, dtype: int64

In [33]:
Y_train.head()

      SalePrice
602      220000
734      108000
1318     275000
742      179000
528       86000

In [31]:
X= train1.drop(['SalePrice'],axis=1)
Y=pd.DataFrame(train1['SalePrice'])

In [30]:
X_train.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
602,3,1,0,3,0,4,0,20,2,2,...,506,120,150,0,0,0,0,0,2,2006
734,3,1,0,3,0,0,0,19,2,2,...,300,147,0,0,0,0,0,0,5,2007
1318,3,1,1,3,0,1,0,5,2,2,...,748,198,150,0,0,0,0,0,8,2006
742,3,1,3,3,0,4,0,20,2,2,...,539,120,55,0,0,0,0,0,12,2007
528,3,1,0,3,0,4,0,7,2,2,...,0,0,0,144,0,0,0,0,7,2007

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20)

In [36]:
len(X_test),len(Y_train), len(X_train),len(Y_test)

(292, 1168, 1168, 292)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
lr=LinearRegression()

In [39]:
model=lr.fit(X_train, Y_train)

In [43]:
predict=model.predict(X_test)

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(predict, Y_test)*100

86.0985323693481